body {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.social-icon {
  height: 30px;
  margin-top: 8px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  font-size: 25px;
  align-items: center;
}

.navbar-link {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #f26522;
}

.wallet-button {
  margin-left: 20px;
}

.wallet-button button {
  padding: 10px 20px;
  background-color: #f26522;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

#jsonTextArea {
  display: none;
}

table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f26522;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #222;
}

a {
  color: #f26522;
  text-decoration: none;
}

button:hover {
  background-color: #e3550b;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: #111;
  margin-top: 5px;
  margin-bottom: 5px;
}

.centered-logo {
  max-height: 140px;
  max-width: 100%;
}

table {
  margin: 0 auto;
  width: 90%;
}

.warning-message {
  background-color: none;
  padding: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  text-align: center;
}

.warning-message p {
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more-button {
  padding: 12px 20px;
  background-color: #f26522;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: #e3550b;
}

.load-more-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Adjustments for smaller images and increased row height */


td.image-cell {
  max-width: 30px;
  height: auto;
  vertical-align: middle;
  padding-right: 10px;
}

td.image-cell img {
  max-width: 100%;
  height: auto;
}

td.inscribe-cell {
  vertical-align: middle;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1580px;
  margin-bottom: 10px;
}

.search-input {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: 200px;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
